## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     ------------------- ------------------ 30.7/61.0 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 540.4 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sinsv\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sinsv\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 2.0 MB/s eta 0:00:06
    --------------------------------------- 0.2/11.6 MB 1.8 MB/s eta 0:00:07
    --------------------------------------- 0.2/11.6 MB 1.6 MB/s eta 0:00:08
   - -------------------------------------- 0.5/11.6 MB 2.9 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.6 MB 4.1 MB/s eta 0:00:03
   ---- ----------------------------------- 1.4/11.6 MB 5.1 MB/s eta 0:00:02
   ------- -------------------------------- 2.2/11.6 MB 6.7 MB/s eta 0:00:02
   -------------- ------------------------- 4.1/11.6 MB 11.4 MB/s eta 0:00:01
   ---------------------- ----------------- 6.6/11.6 MB 15.7 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 19.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 20.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 36.3 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 31.1 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   ----- ---------------------------------- 2.1/15.8 MB 67.7 MB/s eta 0:00:01
   ----- ---------------------------------- 2.1/15.8 MB 67.7 MB/s eta 0:00:01
   ------- -------------------------------- 2.8/15.8 MB 25.5 MB/s eta 0:00:01
   ------- -------------------------------- 2.8/15.8 MB 25.5 MB/s eta 0:00:01
   ----------- ---------------------------- 4.6/15.8 MB 22.6 MB/s eta 0:00:01
   -------------- ------------------------- 5.7/15.8 MB 21.6 MB/s eta 0:00:01
   -------------- ------------------------- 5.7/15.8 MB 21.6 MB/s eta 0:00:01
   ---------------- ----------------------- 6.5/15.8 MB 19.7 MB/s eta 0:00:01
   ------------------- -------------------- 7.5/15.8 MB 18.5 MB/s eta 0:00:01
   ------------------- -------------------- 7.9/15.8 MB 16.8 MB/s eta 0:00:01
   ---------------------- ----------------- 8.7/15.8 MB 18.0 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.8 MB 16.9 MB/s eta 0:00:01
   ------------------------ --------------- 9.7/15.8 MB 16.3 MB/s eta 0:00:01
   ------------------------- -------------- 9.9/15.8 MB 15.4 MB/s eta 0:00:01
   ------------------------- -------------- 10.3/15.8 MB 15.2 MB/s eta 0:00:01
   --------------------------- ------------ 10.8/15.8 MB 14.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.1/15.8 MB 13.4 MB/s eta 0:00:01
   ---------------------------------- ----- 13.7/15.8 MB 16.4 MB/s eta 0:00:01
   ---------------------------------- ----- 13.7/15.8 MB 16.4 MB/s eta 0:00:01
   ------------------------------------- -- 14.8/15.8 MB 14.6 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 15.2 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 15.2 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 15.2 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 15.2 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 15.2 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 15.2 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 9.6 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
    --------------------------------------- 10.2/505.5 kB ? eta -:--:--
   -- ------------------------------------ 30.7/505.5 kB 330.3 kB/s eta 0:00:02
   --- ----------------------------------- 41.0/505.5 kB 281.8 kB/s eta 0:00:02
   ------ -------------------------------- 81.9/505.5 kB 512.0 kB/s eta 0:00:01
   ------------ ------------------------- 163.8/505.5 kB 756.6 kB/s eta 0:00:01
   ------------------ ------------------- 245.8/505.5 kB 942.1 kB/s eta 0:00:01
   ----------------------------- ---------- 368.6/505.5 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 1.4 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------------------------------  337.9/345.4 kB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 5.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [2]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [5]:
import pandas as pd

# Чтение данных из файла 'titanic.csv'
df = pd.read_csv('titanic.csv')

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [6]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [8]:
# Проверка на наличие NaN в DataFrame
print(df.isna())

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False   True  False  False   False
889        False     False   False  False  False  False  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False  False     False
4    False   True     False
..     ...    ...       ...
886  False   True     False
887  False  False     False
888  False   True     False
889  False  False     False
890  False   True     False

[891 rows x 12 columns]

Заполнение NaN

In [10]:
filled_df = df.fillna(0)

Удаление строк с NaN

In [11]:
cleaned_df = df.dropna()

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [16]:
# Выбор столбца "Name"
column = df['Name']

# Выбор нескольких столбцов "Name" и "Age"
columns = df[['Name', 'Age']]

# Выбор строки по индексу 3
selected_row = df.loc[3]

# Выбор строк и столбцов по условию: мужчины старше 30 лет
selected_data = df[(df['Sex'] == 'male') & (df['Age'] > 30)]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [15]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию

sorted_df = df.sort_values(by='Age')

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [17]:
# Найдите долю выживших среди всех PClass
survival_rate_by_class = df.groupby('Pclass')['Survived'].mean()

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [18]:
df = pd.read_csv('titanic.csv')

# Проверим наличие пропущенных значений и заполним их нулями
df.fillna(0, inplace=True)

# Выведем первые 10 строк данных
print("Первые 10 строк данных:")
print(df.head(10))

# Выберем только те строки, где значение в столбце 'Age' больше 30
df_above_30 = df[df['Age'] > 30]

# Отсортируем данные по столбцу 'Fare' в порядке убывания
df_sorted = df_above_30.sort_values(by='Fare', ascending=False)

# Сгруппируем данные по столбцу 'Pclass' и вычислим средний возраст ('Age') для каждого класса
average_age_by_class = df.groupby('Pclass')['Age'].mean()

# Выведем результат
print("\nСредний возраст по классам:")
print(average_age_by_class)

Первые 10 строк данных:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
5      0            330877   8.4583     0        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750     0        S
8      2            347742  11.1333     0        S
9      0            237736  30.0708     0        C

Средний возраст по классам:
Pclass
1    32.923241
2    28.091467
3    18.177026
Name: Age, dtype: float64